@model team5_centric.Models.userData

@{
    ViewBag.Title = "Details";
}

<h2>Employee Profile</h2>


<div class="jumbotron">
    <h4>Employee Name</h4>
    <hr />
    <table ="100%">
        <tr>
            <td width="20%">


                <section>
                    <dt>
                        <img src="~/Content/Avatars/@Model.avatar" height="300" />

                    </dt>
                </section>


                <article>
                    <dt>

                        @Html.DisplayNameFor(model => model.firstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.firstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lastName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.officeLocation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.officeLocation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.position)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.position)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.startDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.startDate)
                    </dd>

                    <dd>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.userId }) |
                        @Html.ActionLink("Back to List", "Index")
                    </dd>
                </article>

            </td>


            <td style="padding:2px 25px 4px 25px">
                @*<aside>*@


                @*<table width="50%">

                    <head>*@

                <style>

                    table, th, td {
                        border: 2px solid black;
                        border-collapse: collapse;
                    }

                    th, td {
                        padding: 15px;
                        text-align: center;
                    }

                    #t01 {
                        width: 30%;
                        background-color: #e6ab30;
                    }
                </style>


                <table>
                    <tr>
                        <td>
                            <div id="piechart">


                                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

                                <script type="text/javascript">

                                    // Load google charts

                                    google.charts.load('current', { 'packages': ['corechart'] });

                                    google.charts.setOnLoadCallback(drawChart);


                                    // Draw the chart and set the chart values

                                    function drawChart() {

                                        var data = google.visualization.arrayToDataTable([

                                            ['Task', 'Points'],

                                            ['Points to next reward', 10],

                                            ['Points earned', 6],

                                        ]);



                                        // Optional; add a title and set the width and height of the chart

                                        var options = { 'title': 'My Point Status','width': 450, 'height': 350 };


                                        // Display the chart inside the <div> element with id="piechart"

                                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                                        chart.draw(data, options);

                                    }

                                </script>

                            </div>
                        </td>
                        <td>


                            <table id="t01" style="float:left">
                                <tr>
                                    <th>Leader Board</th>
                                </tr>

                                <tr>
                                    <td>#20</td>
                                </tr>

                                <tr>

                                    <td>#21</td>

                                </tr>

                                <tr>
                                    <td>#22</td>

                                </tr>
                                <tr>
                                    <td>#23</td>

                                </tr>
                                <tr>
                                    <td>#24</td>

                                </tr>
                                <tr>
                                    <td>#25</td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>



    </table>

    <table style="width: 100%" )>

        <style>

            table, th, td {
                border: 2px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 15px;
                text-align: center;
            }

            #t01 {
                width: 100%;
                background-color: #b2b0b0;
            }
        </style>

        @*<table style="width:100%">

            <table id="t01">*@


        <tr>

            <th>My Recognition</th>

            <th>My Values</th>

            <th>My Rewards</th>

        </tr>

        <tr>

            <td>Rec #1</td>

            <td>Value #1</td>

            <td>Reward #1</td>

        </tr>

        <tr>

            <td>Rec #2</td>

            <td>Value #2</td>

            <td>Reward #2</td>

        </tr>

        <tr>

            <td>Rec #3</td>

            <td>Value #3</td>

            <td>Reward #3</td>

        </tr>

    </table>

    @*</table>*@
    @*</aside>*@
    @*</td>
            </tr>
        </table>*@
</div>
<p>

</p>
