@model team5_centric.Models.userData

@{
    ViewBag.Title = "Profile";
}


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    tr:hover {
        background-color: #dbd9d5;
    }
</style>

<br />
<div class="container profile">
    <div class="col-md-3 profile-left">
        <div class="profile-pic">
            <img src="~/Content/Avatars/@Model.avatar" />
        </div>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officeLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>
    </div>
    <div class="col-md-9">
        <h2 class="employee-name">@Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)</h2>
        <dd>
            @Html.ActionLink("Edit Profile", "Edit", new { id = Model.userId }) |
            @Html.ActionLink("Back to List", "Index")
        </dd>
        <div class="col-lg-12">

            @Html.Partial("recCount")

        </div>

        @*<div class="rec_tbl">
                <table style="width: 100%" )>

                    <tr>

                        <th>My Recognition</th>

                        <th>My Values</th>

                        <th>My Rewards</th>

                    </tr>

                    <tr>

                        <td>Rec #1</td>

                        <td>Value #2</td>

                        <td>Reward #1</td>

                    </tr>

                    <tr>

                        <td>Rec #2</td>

                        <td>Value #2</td>

                        <td>Reward #2</td>

                    </tr>

                    <tr>

                        <td>Rec #3</td>

                        <td>Value #3</td>

                        <td>Reward #3</td>

                    </tr>

                </table>
            </div>*@
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />