@model team5_centric.Models.userData

@{
    ViewBag.Title = "Edit";
}



<h2>Edit</h2>


@using (Html.BeginForm("Edit", "userDatas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Your Profile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.userId)

        <div class="form-group">
            @Html.LabelFor(model => model.firstName, "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastName, "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.officeLocation, "Office Location", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.officeLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.officeLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.position, "Position", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.startDate, "Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.avatar, "Profile Picture", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 image-upload">
                <img id="blah" src="~/Content/Avatars/@Model.avatar" height="400" />
                <input id="UploadedImage" type="file" name="UploadedImage" onchange="return ValidateFileUpload()" />

                <SCRIPT type="text/javascript">
                    function ValidateFileUpload() {
                        var fuData = document.getElementById('UploadedImage');
                        var FileUploadPath = fuData.value;
                        var file = document.getElementById("UploadedImage").files[0];
                        //To check if user upload any file
                        if (FileUploadPath == '') {
                            alert("Please upload an image");

                        } else {
                            var Extension = FileUploadPath.substring(
                                FileUploadPath.lastIndexOf('.') + 1).toLowerCase();

                            //The file uploaded is an image

                            if (Extension == "gif" || Extension == "png" || Extension == "bmp"
                                || Extension == "jpeg" || Extension == "jpg" && file.size < 2500000) {

                                // To Display
                                if (fuData.files && fuData.files[0]) {
                                    var reader = new FileReader();

                                    reader.onload = function (e) {
                                        $('#blah').attr('src', e.target.result);
                                    }

                                    reader.readAsDataURL(fuData.files[0]);
                                }
                                

                            }

                            //The file upload is NOT an image
                            else {
                                
                                alert("Image must be less than 2mb and a file type of GIF, PNG, JPG, JPEG and BMP.");
                                
                            }
                        }
                    }
                </SCRIPT>

                @*<script type="text/javascript">
            function validateImage() {
                var formData = new FormData();
                var file = document.getElementById("UploadedImage").files[0];
                formData.append("Filedata", file);
                var t = file.type.split('/').pop().toLowerCase();
                if (t != "jpeg" && t != "jpg" && t != "png" && t != "bmp" && t != "gif") {
                    alert('Please select a valid image file');
                    document.getElementById("img").value = '';
                    return false;
                }
                if (file.size > 1024000) {
                    alert('Max Upload size is 1MB only');
                    document.getElementById("img").value = '';
                    return false;
                }
                return true;
            }
        </script>*@

            </div>
        </div>



        @*{
            <h5>Upload Image for Profile</h5>
            <input type="file" name="file" value="Browse" />
            <br />
            <input type="submit" value="Upload" />
                    }

            @if(ViewBag.UploadSuccess==true)
                {
            <span> Upload Completed Successfully</span>
                }*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
