@model IEnumerable<team5_centric.Models.userData>

@{
    ViewBag.Title = "Employee Directory";
}
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        tr:hover {
            background-color: #dbd9d5;
        }
    </style>
</head>

<h2>Employee Directory</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-9">
            @using (Html.BeginForm("Index", "userDatas", FormMethod.Get))
            {
                <p>
                    Search by Name (First, Last, or Both):
                    @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officeLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.avatar)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officeLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            @*<td>
                    <img src="@Url.Content("~/Content/Avatars/")@Model.avatar" height="30" />
                </td>*@
        <td>
            @*<i class="glyphicon glyphicon-edit"></i>
            @Html.ActionLink("Edit", "Edit", new { id = item.userId }) |*@
            <i class="glyphicon glyphicon-list"></i>
            @Html.ActionLink("View Profile", "Details", new { id = item.userId }) @*|*@
            @*<i class="glyphicon glyphicon-trash"></i>
            @Html.ActionLink("Delete", "Delete", new { id = item.userId })*@
        </td>
        </tr>
    }

</table>