@model team5_centric.Models.recognition

@{

    ViewBag.Title = "Congratulation, " + @Model.userDatas.firstName + "!";
    Layout = "~/Views/Shared/_recognition_layout.cshtml";
}



<div class="certificate">
    <div class="cert-heading">
        <center>
            <img src="~/Content/img/cert-pic.png" />
            <h2>@Html.DisplayFor(model => model.userDatas.fullNameNormal)</h2>
            <h4>Is recognized for</h4>
            <h1>@Html.DisplayFor(model => model.values.valueName)</h1>
        </center>
        <br />
        <div class="recognizer">
            <h3>By @Html.DisplayFor(model => model.recognizer.fullName)</h3>
        </div>
    </div>
</div>
<div class="cert-details">
    <h2>Reason for Recognition</h2>
    <p>" @Html.DisplayFor(model => model.valueComment) "</p>

</div>

<script>
    window.onload = function () {
        fb_share.href = 'http://www.facebook.com/share.php?u=' + encodeURIComponent(location.href);
        twit_share.href = 'https://twitter.com/share?url=' + encodeURIComponent(location.href);
        linkedin_share.href = 'https://www.linkedin.com/sharing/share-offsite/?url=' + encodeURIComponent(location.href);
    }  
</script>
<center>
    <div class="share-buttons">
        <div class="share-btn fb-share">
            <a href="" target="_blank" id="fb_share">Share on Facebook</a>
        </div>
        <div class="share-btn twitter-share">
            <a href="" target="_blank" id="twit_share">Share on Twitter</a>
        </div>
        <div class="share-btn linkedin-share">
            <a href="" target="_blank" id="linkedin_share">Share on LinkedIn</a>
        </div>
    </div>
    <br />
    <a href="http://aspnet.cob.ohio.edu/mis4200Team5" style="color:white!important">Back to Home</a>
</center>



    
    @*<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recognizer.firstName)
        </dt>

        <dd>
            
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.values.valueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.values.valueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valueComment)
        </dt>

        <dd>
            
        </dd>

    </dl>
</div>*@
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
