@model team5_centric.Models.recognition

@{
    ViewBag.Title = "Congratulations!";
}



<div class="certificate">
    <div class="cert-heading">
        <center>
            <img src="~/Content/img/cert-pic.png" />
            <h2>@Html.DisplayFor(model => model.userDatas.fullNameNormal)</h2>
            <h4>Is recognized for</h4>
            <h1>@Html.DisplayFor(model => model.values.valueName)</h1>
        </center>
        <br />
        <div class="recognizer">
            <h3>By @Html.DisplayFor(model => model.recognizer.fullName)</h3>
        </div>
    </div>
</div>
<div class="cert-details">
    <h2>Reason for Recognition</h2>
    <p>" @Html.DisplayFor(model => model.valueComment) "</p>

</div>
@*<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recognizer.firstName)
        </dt>

        <dd>
            
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.values.valueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.values.valueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valueComment)
        </dt>

        <dd>
            
        </dd>

    </dl>
</div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
