@model team5_centric.Models.recognition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>recognition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userData.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userData.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valueId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
