@model IEnumerable<team5_centric.Models.recognition>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        tr:hover {
            background-color: #dbd9d5;
        }
    </style>
</head>
<h2>Recognitions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Submitted By
            @*@Html.DisplayNameFor(model => model.recognizer.fullName)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userDatas.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.values.valueName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.valueComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.recognizer.fullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.userDatas.fullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.values.valueName)
    </td>

    <td>
        @{
            var valueComment = item.valueComment;
        }
        @Html.Raw(System.Web.HttpUtility.HtmlDecode(valueComment))
    </td>
    <td>
        <i class="glyphicon glyphicon-edit"></i>
        @Html.ActionLink("Edit", "Edit", new { id = item.recId }) | 
        <i class="glyphicon glyphicon-list"></i>
        @Html.ActionLink("Details", "Details", new { id = item.recId }) | 
        <i class="glyphicon glyphicon-trash"></i>
        @Html.ActionLink("Delete", "Delete", new { id = item.recId })
    </td>
</tr>
}

</table>

<br /><br /><br />
