@using Microsoft.AspNet.Identity;
@using team5_centric.DAL;


@if (Request.IsAuthenticated)

{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        var userName = "";
        var profilePic = "";
        {
            centricContext db = new centricContext();
            Guid userId;
            Guid.TryParse(User.Identity.GetUserId(), out userId);
            var registeredUser = db.userDatas.Find(userId);
            if(registeredUser == null)
            {
                userName = "";
                profilePic = "blank-avatar.png";
            }

            else
            {
                userName = registeredUser.firstName;
                profilePic = registeredUser.avatar;
            }



        <div style="display:inline-block; margin-top:6px;" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                <div class="profile-sm"><img src="~/Content/Avatars/@profilePic" /></div> <div class="profile-rt">Hello, @userName! <span class="caret"></span></div>
                
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a href="~/userDatas/Details/@userId">View Profile</a></li>
                <li role="presentation"><a href="~/userDatas/Edit/@userId">Edit Profile</a></li>
                <li role="presentation">@Html.ActionLink("Change Password", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li role="presentation"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </div>
        }
        <!--<ul class="nav navbar-nav navbar-right">-->

            @*<li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>*@
            <!--<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>-->
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
