<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:description" content="You've been recognized by a colleague for demonstrating our core values!">
    <meta name="og:image" content="http://aspnet.cob.ohio.edu/mis4200Team5/Content/img/cert-meta.jpg">
    <meta name="twitter:description" content="You've been recognized by a colleague for demonstrating our core values!">
    <meta name="twitter:image" content="http://aspnet.cob.ohio.edu/mis4200Team5/Content/img/cert-meta.jpg">
    <meta name="twitter:card" content="http://aspnet.cob.ohio.edu/mis4200Team5/Content/img/cert-meta.jpg">
    <title>@ViewBag.Title | Centric Consulting</title>
    <link rel="shortcut icon" href="~/Content/fav.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!—- ShareThis BEGIN -—>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5fc126941701980012ad86d3&product=sticky-share-buttons" async="async"></script>
    <!—- ShareThis END -—>
    <style>
        body {
            background-color: #2c1c5d !important;
            background: #2c1c5d !important;
        }
    </style>
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="6AFPzjRX"></script>
    
    <div class="container body-content">
        @RenderBody()

    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
